<div class="container">
  <div class="form-group">
    <h1 style="color:#00cc00;">Sign my guestbook!</h1> <br>
    <form method="post" action="/addcomment">
      <h3>Name</h3>
      <input type="text" name="name" /> <br /> <br>
      <h3>Email</h3>
      <input type="text" name="email" /> <br /> <br>
      <h3>Comment</h3>
      <input style="height:100px; width:340px;" type="text" name="comment" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>
    <br />
  </div>
</div>
