<!DOCTYPE html>
<html lang="en">
<!-- head -->
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/bootstrap.css" rel="stylesheet">

  <title>Guestbook</title>

  <!-- Bootstrap core CSS -->

  <% include ../partials/header %>
</header>

<body class="container">
  <content>

    <br> <br>
  <h2 style="text-align:center; color:red;">Psst! Only for real Admins:</h2>

  <br>
  <div class="keskitetty">
  <a href="http://localhost:8081/delete" class="btn btn-default">Delete Message</a>

  <a href="http://localhost:8081/modify" class="btn btn-default">Modify Message</a>

  <br> <br> <br>

<img src="koopa.png" alt="Mario" height="30%" width="20%" />
</div>


  </content>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>
